@{ ViewBag.Title = "About"; }
<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<hr />

<div class="card text-center">
    <div class="card-header">
        <h4>Perfil Desarrolladora</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Proyecto realizado </p>
        <a target="_blank" href="https://github.com/Urielmajb" class="btn btn-primary">Github</a>
    </div>
    
</div>




